@function color($color) {
  @return map-get($palette, map-get($colors, $color));
}

$palette: (
  dark: rgba(80, 81, 79, 100),
  warm: rgba(204, 139, 134, 100),
  cool: rgba(255, 252, 255, 100),
  bright: rgba(36, 123, 160, 100),
  light: rgba(249, 234, 225, 100)
);

$colors: (
  title-bg: bright,
  title-text: light,
  slide-bg: cool,
  slide-text: dark,
  heading-text: bright,
  bold-text: warm
);
