.bespoke-parent {
  @import 'slides';

  width: 100vw;
  max-width: 100%;
  height: 100vh;

  @include media('>=xga') {
    overflow: hidden;
  }

  .bespoke-inactive {
    display: none;
    opacity: 0;
    pointer-events: none;
  }

  .bespoke-active {
    width: 100%;
    height: 100%;
    padding: 2rem 5rem;
  }
}
