@mixin distribute-vert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  background-color: color(slide-bg);
  color: color(slide-text);

  h2 {
    color: color(heading-text);
    text-align: center;
  }

  h4 {
    margin: 1.5rem 0;
  }

  strong {
    color: color(bold-text);
  }

  .equations {
    padding: 0;

    li {
      list-style: none;
    }
  }
}

a {
  color: inherit;

  &:visited {
    color: inherit;
  }
}

.marks {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  img {
    width: 40%;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.slide-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: color(title-bg);
  color: color(title-text);

  .title {
    margin-top: 2rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    margin-left: 3rem;

    @include media('>=xga') {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  }

  .title-main {
    display: block;
  }

  .title-sub {
    display: block;
    font-variant: small-caps;
  }

  .subtitle {
    order: -1;
    margin-top: 2rem;
    text-align: center;
  }

  .date {
    display: block;
    order: -1;
  }

  .authors {
    flex: 1;
    padding-left: 0;
    list-style: none;
    text-align: center;

    @include media('<xga') {
      margin-top: 0;
    }

    @include media('>=xga') {
      width: 100%;
    }
  }
}

.slide-end {
  @include distribute-vert
  align-items: center;
  background-color: color(title-bg);
  color: color(title-text);

  h4 {
    margin: .5rem;
  }

  .authors {
    @include slide-font-size(2em);
  }

  img {
    width: 30%;
  }
}

.slide-background {
  .background-2d {
    @include media('>=xga') {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }
  }

  .background-2d-bullets {
    @include slide-font-size(1.17em);
    align-self: center;
    line-height: 1.5em;
  }

  .background-spin {
    margin-top: 1rem;
  }

  .fig-graphene {
    width: 100%;
    margin-bottom: 1rem;

    @include media('>=xga') {
      display: flex;
      flex-direction: column;
      width: 37%;

      figcaption {
        order: -1;
      }
    }

    img {
      width: 100%;
      border: 5px solid color(img-border);
    }
  }
}

.slide-spin-overview {
  @include media('>=xga') {
    @include distribute-vert
  }

  .main {
    @include distribute-vert
    align-items: center;

    @include media('>=xga') {
      flex-direction: row;
    }

    @include media('>=xga') {
      flex-wrap: wrap;
    }

    > div {
      margin-top: 1rem;
      margin-bottom: 1rem;
      @include media('>=xga') {
        width: 50%;
      }
    }
  }

  figure {
    @include media('>=xga') {
      width: 45%;
      margin-top: 9rem;
    }
  }

  img {
    width: 100%;
  }

  .outline {
    @include media('>=xga') {
      @include slide-font-size(1.4em);
    }
  }
}

.slide-geometry {
  .main {
    @include distribute-vert
    align-items: center;

    @include media('>=xga') {
      flex-direction: row;
    }
  }

  .device {
    @include media('<xga') {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    @include media('>=xga') {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 48%;
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }

  .spin-valve {
    width: 100%;
  }
}

.slide-spin-motivation {
  .equations {
    @include media('>=xga') {
      margin-top: 6rem;
      margin-bottom: 6rem;
    }
  }

  .approach {
    @include media('>=xga') {
      display: flex;
      justify-content: space-between;
    }
  }
}

.slide-resistance {
  @include distribute-vert
  align-items: center;
  text-align: center;
}

.slide-fits {
  @include distribute-vert

  .main {
    display: flex;
    justify-content: center;

    @include media('<xga') {
      flex-direction: column;
      align-items: center;
    }
  }

  .fit {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul {
    margin-top: 1rem;
  }

  img {
    width: 100%;
  }

  figcaption {
    text-align: center;
  }
}

.slide-regimes {
  @include distribute-vert
  align-items: center;
  text-align: center;
}

.slide-spin-software {
  @include distribute-vert
  align-items: center;

  h3,
  p {
    @include slide-font-size(1.4em);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.slide-tmdsc-overview {
  @include distribute-vert
  align-items: center;

  @include media('>=xga') {
    @include slide-font-size(1.4em);
  }

  .figures {
    display: flex;
    justify-content: space-between;
  }

  figure {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
  }

  img {
    width: 100%;
  }
}

.slide-tmds {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .main {
    @include slide-font-size(1.06em);

    @include media('>=xga') {
      display: flex;
      align-items: center;
      line-height: 2em;
    }

    figure {
      order: -1;
    }

    img {
      width: 100%;
    }
  }
}

.slide-energy {
  @include distribute-vert

  .bands {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @include media('>=xga') {
      flex-direction: row;
      align-items: initial;
    }

    img {
      width: 100%;
    }
  }

  .values {
    display: flex;
    justify-content: space-around;
    white-space: nowrap;

    @include media('>=xga') {
      flex-direction: column;
    }

    li {
      list-style: none;
    }
  }
}

.slide-tmd-optical {
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 90%;
  }

  img {
    width: 100%;
  }
}

.slide-hall {
  @include distribute-vert

  .main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  figure {
    margin-bottom: 3rem;
  }

  .hall-effect {
    width: 50%;

    img {
      width: 100%;
    }
  }
}

.slide-sources {
  display: flex;
  flex-direction: column;
  text-align: center;

  h3 {
    margin-top: 2rem;
  }
}

.slide-channels {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-top: 2rem;
    text-align: center;
  }
}

.slide-optical,
.slide-curvature {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  figure {
    @include media('>=xga') {
      height: 60%;
    }
  }

  img {
    width: 100%;
  }
}
