section {
  background-color: color(slide-bg);
  color: color(slide-text);

  h2 {
    color: color(heading-text);
    text-align: center;
  }

  strong {
    color: color(bold-text);
  }
}

a {
  color: inherit;

  &:visited {
    color: inherit;
  }
}

.marks {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  img {
    width: 40%;
    margin-bottom: 1rem;
  }
}

.slide-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: color(title-bg);
  color: color(title-text);

  .title {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .title-main {
    display: block;
  }

  .title-sub {
    display: block;
    font-variant: small-caps;
  }

  .subtitle {
    order: -1;
    margin-top: 2rem;
    text-align: center;
  }

  .date {
    display: block;
    order: -1;
  }

  .authors {
    flex: 1;
    padding-left: 0;
    list-style: none;
    text-align: center;

    @include media('<xga') {
      margin-top: 0;
    }

    @include media('>=xga') {
      width: 100%;
    }
  }
}

.slide-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: color(title-bg);
  color: color(title-text);

  ul {
    margin-bottom: 1.5rem;
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: 1rem;
  }

  .related {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-style: dotted;
    border-right-style: none;
    border-bottom-style: dotted;
    border-left-style: none;
    border-color: color(warm);
  }

  h2,
  .main {
    text-align: center;
  }

  .main {
    flex: 1;
  }

  img {
    width: 20%;
  }
}

.slide-background {
  .background-2d {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;

    > div {
      align-self: center;
    }
  }

  .background-spin {
    margin-top: 1rem;
  }

  .fig-graphene {
    width: 44%;

    img {
      width: 650px;
      border: 5px solid color(img-border);
    }
  }
}

.slide-geometry {
  li {
    list-style: none;
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .device {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .spin-valve {
    width: 100%;
  }
}
